.skills{
    padding-top: 120px;
    &__wrapper{
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 270px);
        gap: 12px;
    }
    .divider{
        margin-top: 25px;
    }
    &__item{
        padding: 30px;
        border: 1px solid #000;
        &-icon{
            display: flex;
            align-items: center;
            min-height: 65px;
        }
        &-title{
            margin-top: 20px;
        }
        &-descr{
            margin-top: 15px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
    }
    .skills{
        &__point{
            margin-top: 120px;
            display: grid;
            grid-template-columns: repeat(3, 350px);
            grid-template-rows: repeat(2, 70px);
            row-gap: 32px;
            justify-content: space-between;
            &-title{
                padding-top: 7px; 
                position: relative;
                padding-left: 14px;
                @include before_circle;
                &:before{
                    top: -1px;
                }
            }
            &-item{        
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            }
        }
        &__progress{
            margin-top: 27px;
            height: 14px;
            width: 100%;
            border-radius: 4px;
            background-color: #E8E4DE;
            &-point{
                display: block;
                height: 14px;
                border-radius: 4px;
                background-color: $main-color;
            }
        }
    }
}
